<p>お疲れ様です。</p>

<p>出勤時には、以下のボタンをクリックして点呼をお願いします。</p>

<p>
  <%= link_to @url, data: {turbo: false}, style: "display: inline-block; padding: 10px 20px; background-color: #213F7E; color: white; text-align: center; text-decoration: none; border-radius: 5px;" do %>
    点呼を行う
  <% end %>
</p>

<p>皆様のご協力をお願いいたします。何かご不明な点がございましたら、上長まで連絡してください。</p>

<p>よろしくお願いいたします。</p>

<p>──────────────────────────────────</p>
<p>※本メールアドレスは配信専用のアドレスとなります。</p>
<p>直接ご返信いただいても回答できませんので、</p>
<p>お手数をおかけいたしますが、本社まで連絡をお願いいたします。</p>
<p>─── 有限会社幸美商事 ───────</p>
<p>■公式サイト<br>
  <a href="https://www.yukimi-corp.com/">https://www.yukimi-corp.com/</a>
</p>
<p>■概要<br>
  〒509-0238 岐阜県可児市大森2188-8<br>
  TEL：0574-60-1080 / FAX：0574-60-1081
</p>
<p>───────────────────────────────────</p>
