<header>
  <div class="navbar bg-base-100">
    <div class="flex-1">
      <a class="btn btn-ghost normal-case text-xl" href="/">
        <%= image_tag "logo.png", alt: "幸美商事 ロゴ", class: "w-10 h-10" %>
        点呼システム
      </a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal p-0 mr-2">
        <li class="m-1"><a class="btn btn-primary" style="color: #DCFFB8;" href="/">管理者の方へ</a></li>
        <li class="m-1"><a class="btn btn-outline btn-primary" href="#">従業員はコチラ</a></li>
      </ul>
    </div>
  </div>
</header>