<%= render "shared/header" %>
<div class="hero bg-base-200">
  <div class="w-screen px-4 my-12 max-w-xl">
    <%= render "form", alarm: @alarm, user: @user, msg: "更新" %>
  </div>
</div>
<%= render "shared/footer" %>