<div class="hero min-h-screen bg-base-200">
  <div class="w-screen px-4 my-12 max-w-sm">
    <h1 class="text-3xl font-bold text-center mb-4">従業員登録</h1>
    <div class="card flex-shrink-0 w-full shadow bg-base-100 mx-auto">
      <div class="py-12 mx-auto text-center flex justify-center items-center">
        <p class="m-3 text-sm">登録が完了しました。</p>
        <br >
        <p class="m-3 text-sm">続いて、下記のボタンをクリックし、。点呼を行うための公式アカウントをLINEに追加してください。</p>
        <p class="m-3 text-sm">登録が完了したらブラウザを閉じて終了となります。</p>
        <br >
        <a href="https://lin.ee/py4CAFrL"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加" height="36" border="0"></a>
      </div>
    </div>
  </div>
</div>
