<%= render "shared/header" %>
<div class="hero min-h-screen bg-base-200">
  <div class="w-screen px-4 my-12 max-w-sm">
    <h1 class="text-3xl font-bold text-center mb-4">従業員登録</h1>
    <p class="mb-3 text-sm">従業員の皆さんはLINEアカウントを使って利用者登録を行なってください。</p>
    <div class="card flex-shrink-0 w-full shadow bg-base-100 mx-auto">
      <div class="py-12 mx-auto text-center flex justify-center items-center">
        <%- if devise_mapping.omniauthable? %>
          <%- resource_class.omniauth_providers.each do |provider| %>
            <%= button_to image_tag("btn_login_base.png"), omniauth_authorize_path(resource_name, provider), data: {turbo: false} %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render "shared/footer" %>
