<div class="hero min-h-screen bg-base-200">
  <div class="w-screen px-4 my-12 max-w-sm">
    <h1 class="text-3xl font-bold text-center mb-4">点呼完了</h1>
    <div class="card flex-shrink-0 w-full shadow bg-base-100 mx-auto">
      <div class="py-12 mx-auto text-center flex justify-center items-center">
        <p class="m-3 text-sm"><%= "#{@now.strftime('%Y/%m/%d %H:%M')} #{@days[@wday]} 点呼を完了しました。本日も安全運転でよろしくお願いいたします。" %></p>
      </div>
    </div>
  </div>
</div>
