<%= render "shared/header" %>
<div class="hero bg-base-200">
  <div class="w-screen px-4 my-12 max-w-sm">
    <div class="card bg-base-100 w-96 shadow-xl">
      <figure>
        <img src="https://www.yukimi-corp.com/image/Company_index.jpg" alt="幸美商事" />
      </figure>
      <div class="card-body">
        <h2 class="card-title">Welcome！</h2>
        <p>点呼システムは従業員へ勤務前の点呼を自動で行うシステムです。クイックガイドで使い方を確認いただけます。</p>
        <div class="card-actions justify-end">
          <button class="btn btn-primary">クイックガイドを見る</button>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "shared/footer" %>